
<!DOCTYPE html>
<html lang="en">

<head>
    {{>_headLinks}}
</head>

<body>
   
    {{>_header}}

    <!-- main header -->
    <div class="flexClass about-main-header">
            
        <!-- left part -->
        <div class="main_header_right">
            <figure>
                <img src="images/profile.jpg" alt="manvi"  title="Manvi Bansal" class="img-fluid" style="height:250px; min-width: 200px;">
            </figure>    
        </div>
        <!-- right part -->
        <div class="main_header_left">
            <p>Welcome to weather app</p>
            <h1>I am <span class="text_clr">Full Stack Web Developer</span> and Youtuber</h1>
            <div>
               <a href="https://www.linkedin.com/in/manvi-bansal-8649821a1" class="profile-links" style="color: darkblue;"><i class="fab fa-linkedin-in"></i></a>
               <a href="https://github.com/Manvi-tech?tab=repositories" class="profile-links" style="color: darkgreen;"><i class="fab fa-github"></i></a>
               <a href="https://www.youtube.com/channel/UCNByZMtmamuyS4dsh2tzzpQ" class="profile-links" style="color: darkred;"><i class="fab fa-youtube"></i></a>
            </div>
        </div>
                
    </div>

      {{>_footer}}
      
</body>
</html>